html {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

time {
  color: #666;
  margin-right: 0.4em;
}

body {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 800px;
}

header.main-header {
  font-size: 1.2rem;
  border-bottom: 2px solid #f94;
  padding-bottom: 10px;
  color: #555;
}
header.main-header a:link,
header.main-header a:visited {
  color: inherit;
  text-decoration: none;
}

footer {
  margin-top: 30px;
  color: #777;
}

footer a:link,
footer a:visited {
  color: inherit;
  margin-left: 0.4em;
}

a:link.new,
a:visited.new {
  text-decoration-style: dotted;
  text-decoration-color: #666;
  color: inherit;
}

aside.related-contents {
  border-top: 1px solid #ccc;
  margin-top: 16px;
  padding-top: 16px;
}

aside.related-contents header {
  font-weight: bold;
  font-size: 20px;
  color: #555;
}

main code {
  border-radius: 4px;
  background-color: #eee;
  padding: 0.2em 0.4em;
  font-size: 85%;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
}

main pre > code {
  display: block;
  padding: 0.8em;
}

main img {
  max-width: 100%;
}

main blockquote {
  margin-left: 10px;
  padding: 1px 8px 1px 20px;
  border-left: 4px solid #aaa;
}
